body{
    background-color:rgb(29, 169, 179);
}
table {
    background-color: rgb(56, 4, 116);
    align-items: center;
    font-size: 40px;;
    border: none; 
    border-collapse: collapse;
    margin: auto;
    width: 50%; 
  }
  
  td {
    border: none; 
    padding: 12px 15px;
  }
  