body{
    background-color: black;
}
h1{
   text-align: center;
   color: greenyellow;
}
p{
    text-align: center;
    color: greenyellow;
}
Img{
    display: block;
    margin: auto;
}
a{
    color:white"
}
.p2{
    color:white;
}