.padding {
    padding-top: 40px; 
    background-color: green;
}

.padding2{
    padding-left: 20px;
    padding-right: 20px; 
    background-color: cyan;
}

.padding3{
    padding: 20px;
    background-color: violet;
}

.padding4{
    padding: 10px 20px 30px 40px;
    background-color: yellow;
}